@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0px;
    padding: 0px;
}

input:focus {
    outline: 0;
}

textarea:focus {
    outline:  0;
}

.text-gradiant {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    background-clip: text;
    color: transparent;
}